.side-panel-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background-color: red;
}

.side-panel {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  padding: var(--spacing-medium);
  background-color: var(--color-card);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  animation: slide-in 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.top-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.side-panel-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  margin-block-start: var(--spacing-medium);
}

.side-panel-actions {
  display: flex;
  gap: var(--spacing-medium);
  margin-block-start: var(--spacing-medium);
  justify-content: flex-end;
  padding-block: var(--spacing-xlarge);
  justify-self: flex-end;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@media (min-width: 900px) {
  .side-panel {
    width: fit-content;
    min-width: 400px;
    max-width: 700px;
  }
}
