.search-menu-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  flex-direction: column;
}

.search-menu-button-container {
  position: absolute;
  top: var(--spacing-small);
  left: var(--spacing-small);
  display: flex;
}

.search-menu {
  min-width: 15rem;
  background-color: var(--color-primary);
  flex: 1;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
  padding: var(--spacing-small);
  padding-block-start: var(--spacing-xxlarge);
  color: var(--color-text-contrast);
}

.search-menu.show {
  display: flex;
  animation: slide-in 0.3s ease-in-out;
}

.menu-logo {
  width: 200px;
  height: 200px;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.search-content {
  height: 100%;
  flex: 1;
  overflow: scroll;
  padding: var(--spacing-medium);
  padding-block-start: var(--spacing-large);
}

.search-top {
  margin-inline-start: 4rem;
  display: flex;
  align-items: center;
  gap: var(--spacing-large);
}

.search-term-title {
  font-size: var(--text-xlarge);
  font-weight: normal;
}

.search-results {
  display: flex;
  gap: var(--spacing-large);
  flex-wrap: wrap;
  margin-block-start: var(--spacing-large);
}

@media (min-width: 900px) {
  .search-menu-container {
    position: relative;
  }

  .search-menu-button-container {
    display: none;
  }

  .search-menu {
    display: flex;
  }

  .search-top {
    margin: 0;
  }
}
