.skeleton {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

.skeleton.flex {
  flex: 1;
}

.skeleton.rounded {
  border-radius: 50%;
}

.skeleton.loading {
  animation: loading 1s ease-in-out infinite;
  background-color: var(--color-skeleton);
}

.skeleton.loading * {
  visibility: hidden;
}

@keyframes loading {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
