.page {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: var(--color-background);
    color: var(--color-text);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.title {
    font-family: var(--font-family);
    font-size: var(--text-xxlarge);
    color: var(--color-text-contrast);
    font-weight: normal;
}

